html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: background-color 0.3s ease-in-out;
    font-family: 'Helvetica Neue', sans-serif;
}
#mainContent {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-content {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    margin: 1em;
    border-radius: .5em;
}
.content {
    width: 80%;
    margin: 2% auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.image img:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 24px rgba(0,0,0,0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}
img { 
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.content .image img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.content .image img:hover {
    transform: scale(1.05);
}



