table { 
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border:.1em solid #d2c6c1;
    border-collapse: collapse;
    max-width: 100%;
    width: 25%;
}
td {
    text-align: center;
    border-collapse: collapse;
}
th {
    background-color: #c8b8b1;
    text-align: center;
    border-collapse: collapse;
}
.table-container tr:hover{
    background-color: #F8EDEE;
    color: #932006;
}
.menu-container {
    width: 80%;
    margin: 0 auto;
    padding: 5em;
}
.image {
    height: auto;
    width: 40%;
    max-width: 100%;
}
.menu-section {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 40px;
    align-items: center; 
    margin-top: 1em;
}
.table-container {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
@media screen and (orientation: portrait) {
    .menu-section {
        display: block;
        text-align: center;
    }
    .menu-section img {
        display: none;
    }
    table {
        width: 100%;
    }

    td, th {
        width: 25%;
    }
}

